body{
    background: rgb(83, 27, 83);
    color: white;
    font-size: 20px;
}
header{
    text-align: center;
}
section{
    background-color: aqua;
    color: black;
    border-radius: 8px;
    padding: 15px;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.397);
}
footer{
    text-align: center;
    font-style: italic;
}
img{
    border-radius: 100%;
    width: 70%;
    height: 70%;
}
div{
    text-align: center;
    padding: 5px;
}
